*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(170, 255, 162);
    // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 4px;
}
.gamebox{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .main_box{
    border: 2px solid black;
    height: 70%;
    width: 70%;
    background: #f1fcdd;
    border-radius: 10px;
    overflow: hidden;
    
    .paneltop{
        height: 70px;
        background: #447a4d;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        color: #fff;
        font-weight: bold;
        border-radius: 2px;

        .hit{
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            .hitbubble{
                color: #191818;
                border-radius: 20%;
                background: #faf9f9;
                padding: 9px;
                
            }
        }
        .score{
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            .scorebubble{
                color: #111010;
                border-radius: 20%;
                background: #fff;
                padding: 9px;
                
            }
        }
        .timer{
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            .timerbubble{
                color: #0d0d0d;
                border-radius: 20%;
                background: #fbf8f8;
                padding: 9px;
                
            }
        }


    }
    }
    .panelbottom{
        display: flex;
        flex-wrap: wrap;
        gap: 9px;
        padding: 18px;
        .bubble{
            width: 40px;
            height: 40px;
            background: rgb(72, 104, 72);
            color: #fff;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            display: flex;
            &:hover{
                background: rgb(91, 134, 91);
                cursor: pointer;
            }
        }
    }
   
}